{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_horizontal_custom_layout.html.twig' %}
{% trans_default_domain 'form' %}

{% block forsession %}
    {% for message in app.flashes('success') %}
        <div class="alert alert alert-success" role="alert">
            <p class="flash-success">{{ message }}</p>
            <hr>
            <p class="mb-0"><a href="{{ path('showProduct', {'slug' : app.request.attributes.get('slug')}) }}" class="link-underline-light">Look at your product</a></p>
        </div>
    {% endfor %}
{% endblock %}

{% block body %}

    {{ form_start(form) }}

        {{ form_row(form.imageName) }}

        {% if(image) %}
            <img src="{{ asset(image) | imagine_filter('ssdfsdf') }}" alt="sth">
        {% endif %}

        <h3>{{ 'product_create.phones'|trans }}</h3>
        <ul class="phoneNumbers"
            data-index="{{ form.phoneNumber|length > 0 ? form.phoneNumber|last.vars.name + 1 : 0 }}"
            data-prototype="{{ _self.phone_row(form.phoneNumber.vars.prototype)|e('html_attr') }}"
        >
            {% for telephone in form.phoneNumber %}
                {{ _self.phone_row(telephone) }}
            {% endfor %}
        </ul>
        <button type="button" class="add_item_link btn btn-primary" data-collection-holder-class="phoneNumbers">{{ 'product_create.add_phone_number'|trans }}</button>
    {{ form_end(form) }}

{% endblock %}

{% macro phone_row(form) %}
    <li>{{ form_row(form.phoneNumber) }}</li>
    <button class="btn btn-danger">{{ 'product_create.delete_phone_number'|trans }}</button>
{% endmacro %}