{% extends 'base.html.twig' %}

{% block title %}Hello ErrorController!{% endblock %}

{% block body %}
{{ dump() }}
{#    {% if app.request.get('exception').statusCode is defined and app.request.get('exception').statusCode is not empty %}#}
{#        <div class="alert alert-danger">Error: {{ app.request.get('exception').statusCode }}</div>#}
{#    {% endif %}#}
{#    <div class="alert alert-danger">Error message: {{ app.request.get('exception').message }}</div>#}
        <div class="alert alert-danger">Error: {{ code }}</div>
    <div class="alert alert-danger">Error message: {{ message }}</div>
    <div class="alert alert-danger">Error message: {{ qwe }}</div>
{% endblock %}
