<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <button class="btn btn-primary d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none" onclick="window.history.back()"><-</button>
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="{{ path('showProducts') }}" class="nav-link active" aria-current="page">List of product: {{ countItems }} items</a></li>
        {% if(slugProduct) %}
            <li class="nav-item"><a href="{{ path('showProduct', {'slug' : slugProduct}) }}" class="nav-link" aria-current="page">Look at your product</a></li>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link" aria-current="page">Log out</a></li>
        {% else%}
            <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link" aria-current="page">Log in</a></li>
        {% endif %}
        <li class="nav-item"><a href="{{ path('addProduct') }}" class="nav-link">Create a new product</a></li>
    </ul>
</header>